<form
  nz-form
  style="margin-top: 20px; text-align: center"
  [formGroup]="searchForm"
>
  <input
    nz-input
    placeholder="Enter name to search"
    nzSize="large"
    style="width: 20%"
    formControlName="title"
  />
  <button
    nz-button
    [nzSize]="size"
    nzType="primary"
    style="margin-left: 15px"
    (click)="onSearchProduct()"
  >
    Search
  </button>
</form>

<div style="background-color: #f8f8f8; min-height: 91vh">
  <div style="padding-top: 10px"></div>

  <div class="child" style="margin-top: 10px" *ngFor="let product of products">
    <div nz-row>
      <div nz-col nzSpan="8">
        <img
          class="profile"
          style="height: 130px; width: 200px; border-radius: 10px"
          [src]="product.processedImage"
          alt="profile"
        />
      </div>

      <div nz-col nzSpan="16">
        <h2 style="cursor: pointer; color: #108ee9">{{ product.name }}</h2>
        <p>{{ product.description }}</p>

        <hr />

        <h5>
          Price: <b>{{ product.price }}</b> - Category:
          <b>{{ product.categoryName }}</b>
        </h5>
        <hr />

        <div style="float: right">
          <button
            style="margin-left: 10px"
            nzSize="small"
            nz-button
            nzType="primary"
            (click)="addProductToCart(product.id)"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>