<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <nz-table
      #basicTable
      [nzData]="MyOrders"
      [nzPageSize]="20"
      [nzShowPagination]="'false'"
    >
      <thead>
        <tr>
          <th style="font-weight: bolder; color: #003973">Username</th>
          <th style="font-weight: bolder; color: #003973">Amount</th>
          <th style="font-weight: bolder; color: #003973">Description</th>
          <th style="font-weight: bolder; color: #003973">Payment Type</th>
          <th style="font-weight: bolder; color: #003973">Address</th>
          <th style="font-weight: bolder; color: #003973">Date</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let myOrder of basicTable.data">
          <td style="font-weight: 600">{{ myOrder.username }}</td>
          <td style="font-weight: 600">{{ myOrder.amount }}</td>
          <td>{{ myOrder.orderDescription }}</td>
          <td>{{ myOrder.paymentType }}</td>
          <td>{{ myOrder.address }}</td>
          <td>{{ myOrder.date | date : "dd/MM/yyyy" }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>
  
