<div style="background: #ececec; padding: 30px">
  <div nz-row [nzGutter]="8" *ngIf="cartProducts">
    <div nz-col [nzSpan]="4" *ngFor="let product of cartProducts">
      <nz-card nzTitle="{{ product.productName }}">
        <p>
          Price: <strong>${{ product.price }}</strong>
        </p>
        <p>
          Quantity: <strong>{{ product.quantity }}</strong>
        </p>

        <button
          nzSize="small"
          nz-button
          nzType="primary"
          [disabled]="product.quantity == 1"
          (click)="decreaseQuantityOfProduct(product.productId)"
        >
          <strong>-</strong>
        </button>
        <button
          style="margin-left: 10px"
          nzSize="small"
          nz-button
          nzType="primary"
          (click)="increaseQuantityOfProduct(product.productId)"
        >
          <strong>+</strong>
        </button>
      </nz-card>
    </div>
  </div>
</div>

<div style="margin-left: 600px" *ngIf="cartProducts">
  <h1>Total Bill: {{ this.totalAmout }}</h1>
  <button nz-button nzType="primary" routerLink="/user/place-order">
    Place Order
  </button>
</div>